@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}



.main {
  // margin: auto 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding: 45px 10px 0;
  padding: 45px 0px 0;

}

.App {
  min-height: calc(100vh - 305px);
}

body {
  background-image: url(./assets/img/fondHaiku.png);
  background-repeat: no-repeat left center fixed;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.title {
  text-align: center;
}

.blur {
  z-index:100;
  backdrop-filter: blur(10px);

}

@media (max-width: 880px) {
  .title {
    text-align: center;
    font-size: 20px;
  }
}
.margTop {
  margin-top: 76px;
}

.logoHaiku {
  margin-top: 8px;
  margin-left: 20px;
  width: 80px;
}
.buttonNav { 
  margin-right: 14px;
}
.logoImg {
  width: 110px;
}

.totemItems {
  text-align: center;
}

.totemItem {
  width: 70px;
}

.totemSelected {
  border: 1px solid white;
  border-radius: 25px;
  width: 75px;
}

.totemPosition {
  position: relative;
  top: -50px;
  left: -50px;
}

.emojiPosition {
  width: 50px !important;
  height: 50px !important;
  position: absolute !important;
  left: 87%;
}

@media (max-width: 880px) {
  .emojiPosition {
    left: 82%;
  }
}

.navUserImg {
  width: 40px;
  max-height: 30px;
  margin-top: 4px;
}
.navUserImgLink {
height: 0
;}
.navUserTotem {
  border: 1px solid white;
  border-radius: 25px;
}
.settingsLogo {
  margin-right: 10px;
  width: 25px;
}

.textHaiku {
  padding-left: 16px;
}

/////////////////////////////////////////////
// BOUTONS FOOTER FILTRES ET NOUVEL HAIKU //

.NewHaikuButtonIcone {
  position: fixed;
  width: 100px;
  right: 6%;
  bottom: 4px;
}
.footerButtons  {
  display: flex;
  flex-direction: row;
  position: fixed;
  font-size: 22px;
  // width: 100px;
  left: 12%;
  bottom: 2px;
}
.footerButtons p  {
color: #fff;
text-decoration: none;
}
.moodSelectionButton {
  margin-right: 20px;
  justify-content: space-between;
  justify-items: center;
}
.timeFilterSection {
  display: flex;
  flex-direction: row;
}
.timeFilterSection p {
  margin-right: 20px;
  margin-left: 20px;
  justify-content: space-between;
  justify-items: center;
}
.backgroundfooterButton{
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0px -5px 100px rgb(0, 0, 0);
  position: fixed;
  height: 80px;
  width: 100%;
  bottom: -1px;
}
////////// FIN DU CSS BOUTONS FOOTER ////
/////////////////////////////////////////



#Root {
  height: 100%;
}

.haikuDisplay {
  filter: blur(0.5rem);
}

.emojiContainer {
  position: relative;
  width: 64px;
  span {
    color: #949494;
    position: absolute;
    bottom: 10px;
    right: 5px;
  }
}

.emojisSelect {
  width: 325px;
  z-index: 1;
  position: fixed;
  background-color: black;
  border-radius: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.emojisSelectItem {
  width: 64px;
}

////////////// footer //////////////

.footer-distributed {
  background: #333333;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  height: 305px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5368ff;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {
  .footer-distributed {
    display: none;
  }

  .totemItem {
    width: 60px;
  }
}
