.textAndCounterFormNewHaiku {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.textFormNewHaiku {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    margin-top: 40%;
    margin-right: 2%
}

.newHaikuLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: auto;
}

.LineCounterFormNewHaiku {
    margin-top: 48%;
    line-height: 2em;
}

.titleFormHaiku {

}
